<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhdT2aIkYL3f21FdHNsvvpoKsee0NI4Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>300911203398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sneaker-app-2cbcc</string>
	<key>STORAGE_BUCKET</key>
	<string>sneaker-app-2cbcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300911203398:ios:f221c13daa6a1b0910a647</string>
</dict>
</plist>